# Устанавливает кодировку по умолчанию для всех текстовых файлов, если заголовок Content-Type не указывает явно другую кодировку.
# Влияет на такие типы: .html, .txt, .css, .js и др.
# Обозначает, что сервер будет отдавать контент в кодировке UTF-8, если не указано иное.
#👉 Это важно для корректного отображения текста в браузере, особенно если HTML-файлы не содержат <meta charset="utf-8">.
AddDefaultCharset utf-8

# Включает механизм перезаписи URL — это нужно, чтобы работали правила RewriteRule.
RewriteEngine On

# Это правило говорит:
# Все входящие запросы (любой URL, кроме пустого) должны быть перенаправлены внутрь папки /public/
# Примеры:
# Запрос: /index.html → фактически ищется: /public/index.html
# Запрос: /js/app.js → ищется: /public/js/app.js
RewriteRule ^(.*)$ /public/$1
