<?php
/**
 *  Project : my.ri.net.ua
 *  File    : config_secret.php
 *  Path    : config/config_secret.php
 *  Author  : Ariv <ariv@meta.ua> | https://github.com/arivm7
 *  Org     : RI-Network, Kiev, UK
 *  Created : 07 Jul 2026 15:46:36
 *  License : GPL v3
 *
 *  Copyright (C) 2026 Ariv <ariv@meta.ua> | https://github.com/arivm7 | RI-Network, Kiev, UK
 */

/**
 * Description of config_secret.php
 *
 * @author Ariv <ariv@meta.ua> | https://github.com/arivm7
 */




return [
    /**
     * Токен авторизации пользователя billing
     */
    'token' => '',
];